<div class="browseView">
  <div class="row">
    <div class="browseTabs col-xs-12">
      <div class="row">
        <div class="col-xs-6 name">
          <h3>
            Browse by {{ vm.mode|capitalize }}
          </h3>
        </div>

        <div class="col-xs-6 tabs">
          <ul class="nav nav-tabs pull-right">
            <li ng-class="{'active': vm.mode == 'variants'}">
              <a ng-click="vm.switchMode('variants')">Browse by Variant</a>
            </li>

            <li ng-class="{'active': vm.mode == 'genes'}">
              <a ng-click="vm.switchMode('genes')">Browse by Gene</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <span class="record-info">
          <span>{{ vm.gridApi.grid.rows.length }} total items</span>
          <span ng-if="vm.gridApi.grid.renderContainers.body.visibleRowCache.length !== vm.gridApi.grid.rows.length">
            (showing {{ vm.gridApi.grid.renderContainers.body.visibleRowCache.length }})
          </span>
        </span>
      <div class="gridContainer">
        <div ui-grid="vm.gridOptions"
             ui-grid-cellnav
             ui-grid-selection
             ui-grid-auto-resize></div>
      </div>
    </div>
  </div>
</div>
